#? card_component

# Logs
card_component/logs
card_component/*.log
card_component/npm-debug.log*
card_component/yarn-debug.log*
card_component/yarn-error.log*
card_component/pnpm-debug.log*
card_component/lerna-debug.log*


card_component/node_modules
card_component/dist
card_component/dist-ssr
card_component/*.local

# Editor directories and files
card_component/.vscode/*
card_component/!.vscode/extensions.json
card_component/.idea
card_component/.DS_Store
card_component/*.suo
card_component/*.ntvs*
card_component/*.njsproj
card_component/*.sln
card_component/*.sw?

#? click events

# Logs
click_events/logs
click_events/*.log
click_events/npm-debug.log*
click_events/yarn-debug.log*
click_events/yarn-error.log*
click_events/pnpm-debug.log*
click_events/lerna-debug.log*


click_events/node_modules
click_events/dist
click_events/dist-ssr
click_events/*.local

# Editor directories and files
click_events/.vscode/*
click_events/!.vscode/extensions.json
click_events/.idea
click_events/.DS_Store
click_events/*.suo
click_events/*.ntvs*
click_events/*.njsproj
click_events/*.sln
click_events/*.sw?

#? conditional rendering

# Logs
conditional_rendering/logs
conditional_rendering/*.log
conditional_rendering/npm-debug.log*
conditional_rendering/yarn-debug.log*
conditional_rendering/yarn-error.log*
conditional_rendering/pnpm-debug.log*
conditional_rendering/lerna-debug.log*


conditional_rendering/node_modules
conditional_rendering/dist
conditional_rendering/dist-ssr
conditional_rendering/*.local

# Editor directories and files
conditional_rendering/.vscode/*
conditional_rendering/!.vscode/extensions.json
conditional_rendering/.idea
conditional_rendering/.DS_Store
conditional_rendering/*.suo
conditional_rendering/*.ntvs*
conditional_rendering/*.njsproj
conditional_rendering/*.sln
conditional_rendering/*.sw?

#? css styles

# Logs
css_styles/logs
css_styles/*.log
css_styles/npm-debug.log*
css_styles/yarn-debug.log*
css_styles/yarn-error.log*
css_styles/pnpm-debug.log*
css_styles/lerna-debug.log*


css_styles/node_modules
css_styles/dist
css_styles/dist-ssr
css_styles/*.local

# Editor directories and files
css_styles/.vscode/*
css_styles/!.vscode/extensions.json
css_styles/.idea
css_styles/.DS_Store
css_styles/*.suo
css_styles/*.ntvs*
css_styles/*.njsproj
css_styles/*.sln
css_styles/*.sw?

#? first_app

# Logs
first_app/logs
first_app/*.log
first_app/npm-debug.log*
first_app/yarn-debug.log*
first_app/yarn-error.log*
first_app/pnpm-debug.log*
first_app/lerna-debug.log*


first_app/node_modules
first_app/dist
first_app/dist-ssr
first_app/*.local

# Editor directories and files
first_app/.vscode/*
first_app/!.vscode/extensions.json
first_app/.idea
first_app/.DS_Store
first_app/*.suo
first_app/*.ntvs*
first_app/*.njsproj
first_app/*.sln
first_app/*.sw?

#? list_rendering

# Logs
list_rendering/logs
list_rendering/*.log
list_rendering/npm-debug.log*
list_rendering/yarn-debug.log*
list_rendering/yarn-error.log*
list_rendering/pnpm-debug.log*
list_rendering/lerna-debug.log*


list_rendering/node_modules
list_rendering/dist
list_rendering/dist-ssr
list_rendering/*.local

# Editor directories and files
list_rendering/.vscode/*
list_rendering/!.vscode/extensions.json
list_rendering/.idea
list_rendering/.DS_Store
list_rendering/*.suo
list_rendering/*.ntvs*
list_rendering/*.njsproj
list_rendering/*.sln
list_rendering/*.sw?

#? props

# Logs
props/logs
props/*.log
props/npm-debug.log*
props/yarn-debug.log*
props/yarn-error.log*
props/pnpm-debug.log*
props/lerna-debug.log*


props/node_modules
props/dist
props/dist-ssr
props/*.local

# Editor directories and files
props/.vscode/*
props/!.vscode/extensions.json
props/.idea
props/.DS_Store
props/*.suo
props/*.ntvs*
props/*.njsproj
props/*.sln
props/*.sw?

#? without_build_tools

# Logs
without_build_tools/logs
without_build_tools/*.log
without_build_tools/npm-debug.log*
without_build_tools/yarn-debug.log*
without_build_tools/yarn-error.log*
without_build_tools/pnpm-debug.log*
without_build_tools/lerna-debug.log*


without_build_tools/node_modules
without_build_tools/dist
without_build_tools/dist-ssr
without_build_tools/.parcel-cache
without_build_tools/*.local

# Editor directories and files
without_build_tools/.vscode/*
without_build_tools/!.vscode/extensions.json
without_build_tools/.idea
without_build_tools/.DS_Store
without_build_tools/*.suo
without_build_tools/*.ntvs*
without_build_tools/*.njsproj
without_build_tools/*.sln
without_build_tools/*.sw?

#? use_state

# Logs
use_state/logs
use_state/*.log
use_state/npm-debug.log*
use_state/yarn-debug.log*
use_state/yarn-error.log*
use_state/pnpm-debug.log*
use_state/lerna-debug.log*


use_state/node_modules
use_state/dist
use_state/dist-ssr
use_state/.parcel-cache
use_state/*.local

# Editor directories and files
use_state/.vscode/*
use_state/!.vscode/extensions.json
use_state/.idea
use_state/.DS_Store
use_state/*.suo
use_state/*.ntvs*
use_state/*.njsproj
use_state/*.sln
use_state/*.sw?

#? color_picker

# Logs
color_picker/logs
color_picker/*.log
color_picker/npm-debug.log*
color_picker/yarn-debug.log*
color_picker/yarn-error.log*
color_picker/pnpm-debug.log*
color_picker/lerna-debug.log*


color_picker/node_modules
color_picker/dist
color_picker/dist-ssr
color_picker/.parcel-cache
color_picker/*.local

# Editor directories and files
color_picker/.vscode/*
color_picker/!.vscode/extensions.json
color_picker/.idea
color_picker/.DS_Store
color_picker/*.suo
color_picker/*.ntvs*
color_picker/*.njsproj
color_picker/*.sln
color_picker/*.sw?

#? updater_function

# Logs
updater_function/logs
updater_function/*.log
updater_function/npm-debug.log*
updater_function/yarn-debug.log*
updater_function/yarn-error.log*
updater_function/pnpm-debug.log*
updater_function/lerna-debug.log*


updater_function/node_modules
updater_function/dist
updater_function/dist-ssr
updater_function/.parcel-cache
updater_function/*.local

# Editor directories and files
updater_function/.vscode/*
updater_function/!.vscode/extensions.json
updater_function/.idea
updater_function/.DS_Store
updater_function/*.suo
updater_function/*.ntvs*
updater_function/*.njsproj
updater_function/*.sln
updater_function/*.sw?


#? to_do_list

# Logs 
to_do_list/logs
to_do_list/*.log
to_do_list/npm-debug.log*
to_do_list/yarn-debug.log*
to_do_list/yarn-error.log*
to_do_list/pnpm-debug.log*
to_do_list/lerna-debug.log*


to_do_list/node_modules
to_do_list/dist
to_do_list/dist-ssr
to_do_list/.parcel-cache
to_do_list/*.local

# Editor directories and files
to_do_list/.vscode/*
to_do_list/!.vscode/extensions.json
to_do_list/.idea
to_do_list/.DS_Store
to_do_list/*.suo
to_do_list/*.ntvs*
to_do_list/*.njsproj
to_do_list/*.sln
to_do_list/*.sw?


#? use_effect

# Logs 
use_effect/logs
use_effect/*.log
use_effect/npm-debug.log*
use_effect/yarn-debug.log*
use_effect/yarn-error.log*
use_effect/pnpm-debug.log*
use_effect/lerna-debug.log*


use_effect/node_modules
use_effect/dist
use_effect/dist-ssr
use_effect/.parcel-cache
use_effect/*.local

# Editor directories and files
use_effect/.vscode/*
use_effect/!.vscode/extensions.json
use_effect/.idea
use_effect/.DS_Store
use_effect/*.suo
use_effect/*.ntvs*
use_effect/*.njsproj
use_effect/*.sln
use_effect/*.sw?


#? digital_clock

# Logs 
digital_clock/logs
digital_clock/*.log
digital_clock/npm-debug.log*
digital_clock/yarn-debug.log*
digital_clock/yarn-error.log*
digital_clock/pnpm-debug.log*
digital_clock/lerna-debug.log*


digital_clock/node_modules
digital_clock/dist
digital_clock/dist-ssr
digital_clock/.parcel-cache
digital_clock/*.local

# Editor directories and files
digital_clock/.vscode/*
digital_clock/!.vscode/extensions.json
digital_clock/.idea
digital_clock/.DS_Store
digital_clock/*.suo
digital_clock/*.ntvs*
digital_clock/*.njsproj
digital_clock/*.sln
digital_clock/*.sw?


#? use_context

# Logs 
use_context/logs
use_context/*.log
use_context/npm-debug.log*
use_context/yarn-debug.log*
use_context/yarn-error.log*
use_context/pnpm-debug.log*
use_context/lerna-debug.log*


use_context/node_modules
use_context/dist
use_context/dist-ssr
use_context/.parcel-cache
use_context/*.local

# Editor directories and files
use_context/.vscode/*
use_context/!.vscode/extensions.json
use_context/.idea
use_context/.DS_Store
use_context/*.suo
use_context/*.ntvs*
use_context/*.njsproj
use_context/*.sln
use_context/*.sw?

#? use_ref

# Logs 
use_ref/logs
use_ref/*.log
use_ref/npm-debug.log*
use_ref/yarn-debug.log*
use_ref/yarn-error.log*
use_ref/pnpm-debug.log*
use_ref/lerna-debug.log*


use_ref/node_modules
use_ref/dist
use_ref/dist-ssr
use_ref/.parcel-cache
use_ref/*.local

# Editor directories and files
use_ref/.vscode/*
use_ref/!.vscode/extensions.json
use_ref/.idea
use_ref/.DS_Store
use_ref/*.suo
use_ref/*.ntvs*
use_ref/*.njsproj
use_ref/*.sln
use_ref/*.sw?

#? stop_watch

# Logs 
stop_watch/logs
stop_watch/*.log
stop_watch/npm-debug.log*
stop_watch/yarn-debug.log*
stop_watch/yarn-error.log*
stop_watch/pnpm-debug.log*
stop_watch/lerna-debug.log*


stop_watch/node_modules
stop_watch/dist
stop_watch/dist-ssr
stop_watch/.parcel-cache
stop_watch/*.local

# Editor directories and files
stop_watch/.vscode/*
stop_watch/!.vscode/extensions.json
stop_watch/.idea
stop_watch/.DS_Store
stop_watch/*.suo
stop_watch/*.ntvs*
stop_watch/*.njsproj
stop_watch/*.sln
stop_watch/*.sw?

#? costume_hooks

# Logs 
costume_hooks/logs
costume_hooks/*.log
costume_hooks/npm-debug.log*
costume_hooks/yarn-debug.log*
costume_hooks/yarn-error.log*
costume_hooks/pnpm-debug.log*
costume_hooks/lerna-debug.log*


costume_hooks/node_modules
costume_hooks/dist
costume_hooks/dist-ssr
costume_hooks/.parcel-cache
costume_hooks/*.local

# Editor directories and files
costume_hooks/.vscode/*
costume_hooks/!.vscode/extensions.json
costume_hooks/.idea
costume_hooks/.DS_Store
costume_hooks/*.suo
costume_hooks/*.ntvs*
costume_hooks/*.njsproj
costume_hooks/*.sln
costume_hooks/*.sw?

#? use_memo

# Logs 
use_memo/logs
use_memo/*.log
use_memo/npm-debug.log*
use_memo/yarn-debug.log*
use_memo/yarn-error.log*
use_memo/pnpm-debug.log*
use_memo/lerna-debug.log*


use_memo/node_modules
use_memo/dist
use_memo/dist-ssr
use_memo/.parcel-cache
use_memo/*.local

# Editor directories and files
use_memo/.vscode/*
use_memo/!.vscode/extensions.json
use_memo/.idea
use_memo/.DS_Store
use_memo/*.suo
use_memo/*.ntvs*
use_memo/*.njsproj
use_memo/*.sln
use_memo/*.sw?


#? use_reducer

# Logs 
use_reducer/logs
use_reducer/*.log
use_reducer/npm-debug.log*
use_reducer/yarn-debug.log*
use_reducer/yarn-error.log*
use_reducer/pnpm-debug.log*
use_reducer/lerna-debug.log*


use_reducer/node_modules
use_reducer/dist
use_reducer/dist-ssr
use_reducer/.parcel-cache
use_reducer/*.local

# Editor directories and files
use_reducer/.vscode/*
use_reducer/!.vscode/extensions.json
use_reducer/.idea
use_reducer/.DS_Store
use_reducer/*.suo
use_reducer/*.ntvs*
use_reducer/*.njsproj
use_reducer/*.sln
use_reducer/*.sw?



#? reusable_name_card

# Logs 
reusable_name_card/logs
reusable_name_card/*.log
reusable_name_card/npm-debug.log*
reusable_name_card/yarn-debug.log*
reusable_name_card/yarn-error.log*
reusable_name_card/pnpm-debug.log*
reusable_name_card/lerna-debug.log*


reusable_name_card/node_modules
reusable_name_card/dist
reusable_name_card/dist-ssr
reusable_name_card/.parcel-cache
reusable_name_card/*.local

# Editor directories and files
reusable_name_card/.vscode/*
reusable_name_card/!.vscode/extensions.json
reusable_name_card/.idea
reusable_name_card/.DS_Store
reusable_name_card/*.suo
reusable_name_card/*.ntvs*
reusable_name_card/*.njsproj
reusable_name_card/*.sln
reusable_name_card/*.sw?